<ion-header>
    <ion-toolbar>
        <ion-title>
            Toast Demo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button color="primary" (click)="showToast()">Show the toast!</ion-button>

    <p>Dismiss properties: {{keys}}</p>

    <div *ngIf="keys !== ''">
        <p>data: {{dismiss.data ? dismiss.data : 'undefined'}}</p>
        <p>role: {{dismiss.role ? dismiss.role : 'undefined'}}</p>
    </div>

    <p>Please open the dev tools to see the actual properties in the console.</p>
</ion-content>
